body {
    overflow: hidden;
    margin: 0;
  }
  
.ui {
    position: absolute;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .RemoveCursor { 
    cursor: none; 
  }
  .buttons{
    position: absolute;
  }

  .sketch {
    left: 100px;
    top: 20px;
  }

  .resizeBoxes {
    left:160px;
    top: 20px;
  }

  .save{
    left:295px;
    top: 20px;
  }

  .load{
    left:350px;
    top:20px;
  }
  .elasticity{
    left:475px;
    top:20px;
  }
  .elasticityField {
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size:30px;
    font-family:'Times New Roman';
    left:1275px;
    top:105px;
    width: 50px;
  }
  .square {
    position: absolute;
    left: 1200px;
    top:20px;
    height: 200px;
    width: 200px;
    border-radius:20px;
    background-color: #add8e6;
  }

  .HSVimg {
    position:absolute;
    left:1200px;
    top: 20px;
    height: 200px;
  }
  
  .wheelLine{
    position: absolute;
    stroke:#000000;
    display: inline-block;
    stroke-width:3;
  }